/*YahooAutocomplete Style @1-F63093BF*/
.Contentent_alm_generalSearchs_idYahooAutocomplete1 .yui-ac-container {
    left: 0;
}
.Contentent_alm_generalSearchs_idYahooAutocomplete1 input {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    *width: expression(parseInt(this.parentNode.currentStyle.width)-6+'px');
}
.Contentent_alm_generalSearchs_id_container {
    display: block;
}
.YUIAutcompleteHighlight {
    background-color: #AAAAAA;
}
.YUIAutcompletePreHighlight {
    background-color: #DDDDDD;
}
/*End YahooAutocomplete Style*/

